# فایل‌های خام و موقت که نباید روی سایت بروند
/.quarto/
/Handnote.qmd
/Handnote.tex
/Handnote.log
/Handnote.aux
/Handnote.out
/Presentation.qmd
/_extensions/
/references.bib
/apa.csl
/apa7.cls
/.Rhistory
/.Rproj.user/
/RP.Rproj
/bigdata.csv
/data.csv
/data.json
/file.xlsx
/file.xml
/survey.sav