body{

max-width:1200px;

margin:auto;

padding:40px;

font-family:Arial, Helvetica, sans-serif;

background:#f8f9fa;

color:#222;

line-height:1.6;

}

header{

text-align:center;

padding:60px 20px;

margin-bottom:40px;

background:white;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

section{

background:white;

padding:35px;

margin-bottom:35px;

border-radius:18px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

h1{

font-size:52px;

margin-bottom:10px;

}

h2{

color:#003A70;

}

section h2{

border-left:6px solid #009639;

padding-left:15px;

}
.hero-container{

display:flex;

justify-content:space-between;

align-items:center;

gap:60px;

}

.hero-left{

flex:1;

}

.hero-right{

flex:1;

text-align:center;

}

.hero-right img{

width:320px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.hero-buttons{

margin-top:30px;

display:flex;

gap:20px;

}

.hero-buttons a{

padding:12px 24px;

background:#003A70;

color:white;

text-decoration:none;

border-radius:8px;

font-weight:bold;

}

.hero-buttons a:hover{

background:#009639;

}